/* admin-styles.css 
*
* wp-photo-album-plus
* version 5.0.0
*/
#files_list, #files_list2
{
	margin: 10px 0;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 1em;
	border: 1px #ccc solid;
	padding: 5px;
}

#files_list2 thead {
	font-size: 1.25em;
	font-weight: normal;
}

#files_list h3, #files_list2 h3
{
	margin: 0 0 5px 0;
	padding: 0 0 2px 0;
	border-bottom: 2px #e5f3ff solid;
	font-weight: normal;
	font-size: 1.2em;
}

.wppa-help-ul {
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 2em;
}

.wppa-help-ol {
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: 2em;
}

.wppa-help-ol li, .wppa-help-ul li {
	line-height: 100%;
	padding-bottom: 0px;
}

ul.wppa_nav
{
	margin: 15px 0 0 60px;
	background: red;
	padding: 0;
	list-style: none;
}

.wppa_nav li
{
	margin: 0 0 0 0px;
	padding: 0;
	list-style: none;
	display: inline;
}

.wppa_nav li a
{
	color: #333;
	font-size: 0.8em;
	display: block;
	float: left;
	padding: 0 3px;
	margin: 0 7px 0 0;
	border: 1px #ccc solid;
	border-bottom: none;
	text-decoration: none;
}

.wppa_nav li a:hover, .wppa_nav li a.active { background-color: #dfdfdf; }

.table_wrapper {
	max-height: 400px;
	overflow: auto;
}

.photoitem, .albumtable, .table_wrapper {
	margin: 7px 0;
	padding: 5px;
	border: 1px #ccc solid;
}

.phototable a, .albumtable a {
	font-weight:bold;
}

.phototable a:hover, .albumtable a:hover, .phototable a:active, .albumtable a:active {
	color: #d54e21 !important;
	cursor: pointer;
}

.phototable {
	margin-bottom: 0px;
	margin-top: 0.5em;
	float: left;
/*	width: 45%;*/
}

.phototable td {
	font-size: 11px;
	line-height: 20px;
}

.phototable th {
	width: 150px;
}

.albumtable label, .phototable label { 
	font-weight: bold; 
	cursor: default;
}

/* .photoitem img { float: right; } */
.photoitem .clear { clear: both; }
.photoitem .details { float: left; }
.photoitem .details label {float: left; }

.photoitem td {
	margin-left: 10px;
}
/*
.photoitem .desc
{
	float: left;
	margin-left: 10px;
	font-weight: bold;
}
*/
.photoitem .deletelink
{
	text-decoration: none;
	border: none;
	color: red;
	font-weight: bold;
	float: left;
}

.photoitem .copylink
{
	text-decoration: none;
	border: none;
	color: blue;
	font-weight: bold;
	float: left;
}

.photoselect {
	position: relative;
	margin: 7px;
	padding: 5px;
	border: 1px #ccc solid;
	display: block;
	float: left;
}

.photoselect input {
	float: right;
}

tt {
    font-weight: bold;
    font-family: Consolas,Monaco,"Courier New",Courier,monospace;
    background-color: #e0e0e0;
}

.wppaedit {
	font-weight: bold;
	color: green;
}

.wppadelete {
	font-weight: bold;
	color: red;
}

.wppacreate {
	font-weight: bold;
	color: blue;
	cursor: pointer;
}

.alternate {
	background-color: #f5f5f5;
}

h4 {
	margin: 0;
}

h6 {
	margin: 0;
	font-size: 1em;
}

hr {
	height: 0px;
	border-color: #ccc;
	color: #ccc;
	margin: 0;
	border-width: 1px;
	background-color: #f7f6f1;
}

.updatedok {
	margin: 5px 0 15px;
	background-color: #e0ffe0;
	border: 1px solid #55ff55; 
	padding: 0 20px;
}

.wp-menu-image a:link {
background-color:transparent;
}
#wppa-err-table {
border:1px solid black;
	border-collapse:collapse;
}
#wppa-err-table td {
	font-size:16px;
	border:1px solid black;
	padding:1px 6px;
}
#wppa-err-table tbody td {
	font-weight:normal;
}
.wppa-none {
	display:none !important;
}
/* phpinfo */
#phpinfo {background-color: #ffffff; color: #000000;}
#phpinfo, #phpinfo td, #phpinfo th, #phpinfo h1, #phpinfo h2 {font-family: sans-serif;}
#phpinfo pre {margin: 0px; font-family: monospace;}
#phpinfo a:link {color: #000099; text-decoration: none; background-color: #ffffff;}
#phpinfo a:hover {text-decoration: underline;}
#phpinfo table {border-collapse: collapse;}
#phpinfo .center {text-align: center;}
#phpinfo .center table { margin-left: auto; margin-right: auto; text-align: left; width:600px;}
#phpinfo .center th { text-align: center !important; }
#phpinfo td, #phpinfo th { border: 1px solid #000000; font-size: 75%; vertical-align: baseline;}
#phpinfo h1 {font-size: 150%;}
#phpinfo h2 {font-size: 125%;}
#phpinfo .p {text-align: left;}
#phpinfo .e {background-color: #ccccff; font-weight: bold; color: #000000;}
#phpinfo .h {background-color: #9999cc; font-weight: bold; color: #000000;}
#phpinfo .v {background-color: #cccccc; color: #000000;}
#phpinfo .vr {background-color: #cccccc; text-align: right; color: #000000;}
#phpinfo img {float: right; border: 0px;}
#phpinfo hr {width: 600px; background-color: #cccccc; border: 0px; height: 1px; color: #000000;}